---
import Layout from '../../layouts/Layout.astro';

import { getCollection } from "astro:content";
import DataGrid from '../../components/DataGrid.astro';

const posts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<Layout>
  <h2>The Ol' Blog</h2>
  <div class="copy">
    <p>Hey there! I'm challenging myself to write weekly blog posts every Sunday, sharing thoughts and experiences from my journey in life and tech. Join me as I embark on this adventure!</p>
  </div>
  <DataGrid posts={posts} />
</Layout>

<style>
  .copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>