---
import Layout from '../../layouts/Layout.astro';

import { getCollection } from "astro:content";
import Blog from "../../components/Blog.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<Layout>
  <div class="copy">
    <p>I've always toyed around with keeping a blog, but it's never stuck. This year, I've set a personal goal to write one post every week, posting on Sunday.</p>
    <p>I'm hoping to improve my writing skills while sharing some of my thoughts and experiences from the past week.</p>
    <p>Let's see if I can stick to it...</p>
  </div>
  <Blog posts={posts} />
</Layout>

<style>
  .copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>