@import url(./variables.css);

* {
  font-size: 16px;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  background-color: var(--theme-color-1);
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-size: var(--fontSize-primary);
}
body.transition {
  transition: all .2s;
}
body.dark {
  color: var(--text-dark-color);
  background-color: var(--theme-dark-color-1);
}
h1, h2, h3, p {
  margin: 0;
}
h1 {
  font-size: var(--fontSize-h1);
  text-wrap: nowrap;
}
h2 {
  font-size: var(--fontSize-h2);
}
h3 {
  font-size: var(--fontSize-h3);
}
p,
li,
strong,
em {
  font-size: var(--fontSize-body);
  line-height: 1.5;
}
h3 + ul,
p + ul {
  margin-top: 1rem;
  margin-left: 1.5rem;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: var(--text-color-link);
  font-size: inherit;
}
a:hover {
  color: var(--text-color-link-hoverhover);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* BLOG POSTS */
#blog-post h3 {
  border-bottom: 1px solid var(--border-color);
  margin-top: 1.5rem;
}
#blog-post p:not(:first-child) {
  margin-top: 1.5rem;
}
#blog-post .hero-image img {
  max-width: 650px;
}
#blog-post table {
  border: 1px solid black;
  padding: 0;
  border-collapse: collapse;
  margin-top: 1rem;
}
#blog-post td,
#blog-post th {
  border: 1px solid black;
  padding: .25rem .75rem;
}
.hero-image img {
  width: 100%;
}

