.post-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all .25s;

}
.post-list .post-link {
  text-decoration: none;
}
.post-list-item .title-wrap {
  display: flex;
  border-bottom: 3px dashed var(--border-color);
  justify-content: space-between;
  column-gap: .5rem;
}
.post-list .post-list-item .post-link {
  display: block;
}
.title {
  margin: 0;
  color: var(--text-color);
  text-align: left;
}
.date {
  margin: 5px 0 0;
  color: var(--text-color);
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  align-self: flex-end;
}
.continue-link {
  display: inline;
  text-decoration: underline;
  opacity: .75;
  transition: all .125s;
  font-style: italic;
}
.continue-link:hover {
  opacity: 1;
}
@media (min-width: 720px) {
  .post-list {
    gap: 3em;
  }
  .post-list .post-list-item {
    width: 100%;
  }
}

.snippet-wrap {
  display: flex;
}
.img {
  width: 100px;
  border-radius: 100%;
  height: 100px;
  float: left;
  margin: 1rem 1rem 0 0;
}