.post-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post-list .post-link {
  text-decoration: none;
}
.post-list-item {
  margin-bottom: 20px;
}
.post-list-item div {
  display: flex;
  flex-direction: column;
  border-bottom: 3px dashed var(--border-color);
  justify-content: space-between;
}
.post-list .post-list-item .post-link {
  display: block;
}
.title {
  margin: 0;
  color: var(--text-color);
  text-align: left;
}
.date {
  margin: 5px 0 0;
  color: var(--text-color);
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  align-self: flex-end;
}
.continue-link {
  display: inline;
  text-decoration: underline;
}
@media (min-width: 720px) {
  .post-list {
    gap: 0.5em;
  }
  .post-list .post-list-item {
    width: 100%;
    margin-top: 20px;
  }
  .post-list-item div {
    flex-direction: row;
  }
}
