---
import { Image } from 'astro:assets';
import face from '../assets/images/portrait.png';
---

<section class="about">
  <p>
    <Image src={face} alt="portrait" width={100} class="portrait" />
    Ahoy, I'm Wylie!
  </p>
  <p>I'm a dad, a partner, and a friend. I'm an avid <a href="https://www.goodreads.com/wyliefisher" target="_blank">reader</a> and a lover of Lego. I love animals and we're currently sharing our home with two cats, a dog, and five Sea Monkeys (with chickens on the wish list!). Creativity is a big part of my life, from creating art to listening to <a href="https://www.last.fm/user/wyliefisher" target="_blank">music</a>. You'll often find me outdoors: walking our dog Meatball, hiking trails, navigating rivers in my white-water kayak or on a raft, biking, or swimming in whatever body of water I can find. When home, I'm tending to my garden, playing <a href="https://boardgamegeek.com/user/wyliefisher" target="_blank">board games</a>, goofing with my family, or enjoying some well-deserved couch time with TV, movies, or video games.</p>
  <p>I'm also a developer with a focus on the front-end. What drives me is the amazing process of bringing ideas to digital life—there's nothing quite like seeing your work materialize in the browser, knowing you've crafted something both functional and beautiful.</p>
  <p>At my core, I'm guided by values that shape everything I do: a commitment to social justice, a deep care for our earth, an endless curiosity about the world, genuine generosity, and unwavering honesty. These principles inform how I collaborate, create, and grow, both personally and professionally.</p>
  <p>If you'd like to know more about me or my work, <a href="mailto:me@wyliefisher.com">I'd love to connect</a>!</p>
</section>

<style>
  .portrait {
    float: left;
    margin-right: 1rem;
  }
  p:not(:first-child) {
    margin-top: 1rem;
  }
</style>