---
import { Image } from 'astro:assets';
import face from '../assets/images/portrait.png';
---

<section class="about">
  <p>
    <Image src={face} alt="portrait" width={100} class="portrait" />
    Ahoy, I'm Wylie!  I'm a dad, a partner, and a friend. I'm a <a href="https://www.goodreads.com/wyliefisher" target="_blank">reader</a>, a lover of Lego, and an aficionado of animals—we have two cats, a dog, and about five Sea Monkeys (chickens are on my wish list!). I'm a creative person and an artist, though it's been a while since I've picked up a canvas. I love <a href="https://www.last.fm/user/wyliefisher" target="_blank">listening to music</a>, enjoying a podcast, gardening, or playing a <a href="https://boardgamegeek.com/user/wyliefisher" target="_blank">board game</a>. I enjoy an outdoor adventure: hiking, white-water kayaking, rafting, biking, and swimming. I also enjoy some couch time watching TV or movies, or playing video games.
  </p>
  <p>
    When I'm working I'm a developer with a focus on the front-end. I really enjoy the process of bringing ideas to digital-life, being able to see what I've been working on in the browser is a great feeling.
  </p>
  <p>
    I'm grounded by values like social justice, caring for the earth, curiosity, generosity, and honesty. These guide both my work and my life, shaping how I collaborate, create, and grow. If you want to know more about me or my work, let's connect!
  </p>
</section>

<style>
  .portrait {
    float: left;
    margin-right: 0.5rem;
  }
  .about p:not(:first-child) {
    margin-top: 1rem;
  }
</style>