---
import { Image } from 'astro:assets';
const { title, url, icon } = Astro.props;
import emailIcon from '../assets/images/email.png';
import githubIcon from '../assets/images/github.png';
import goodreadsIcon from '../assets/images/goodreads.png';
import linkedinIcon from '../assets/images/linkedin.png';

let iconSrc;
switch (icon) {
  case 'email':
    iconSrc = emailIcon;
    break;
  case 'github':
    iconSrc = githubIcon;
    break;
  case 'goodreads':
    iconSrc = goodreadsIcon;
    break;
  case 'linkedin':
    iconSrc = linkedinIcon;
    break;
}
---

<a class="connect-link" href={url} target="_blank" rel="noopener noreferrer" title={title}>
  <Image src={iconSrc} class="icon" alt={title} />
</a>

<style>
  .connect-link {
    line-height: 0;
  }
  .icon {
    width: 2.25rem;
    height: 2.25rem;
    filter: brightness(170%) saturate(100%) invert(23%) sepia(20%) saturate(450%) hue-rotate(165deg) brightness(90%) contrast(100%);
  }
  .icon:hover {
    transform: scale(1.1);
  }
</style>
