---
---
<header>
	<div>
		<a href="/" aria-label="Home">
			<h1>Wylie Fisher</h1>
			<h2>
				Operations, Programs, and People
			</h2>
		</a>
	</div>
</header>

<style>
	header {
		border-bottom: 3px solid var(--border-color);
	}
	a {
		text-decoration: none;
	}
	h2 {
		display: flex;
		justify-content: space-between;
	}
  @media screen and (min-width: 768px) {
		header {
      flex-direction: initial;
    }
  }
</style>