---
import Favicon from '../components/Favicon.astro';
import ShareImage from '../assets/images/share-image.png'
---
<title>Wylie Fisher</title>
<meta charset="utf-8" />
<meta name="description" content="Ahoy! I'm Wylie Fisher, a dad, developer, and outdoor enthusiast.">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Wylie Fisher" />
<meta property="og:image" content={ShareImage.src} />
<meta property="og:image:alt" content="A drawing of Wylie under the name Wylie Fisher" />
<meta property="og:description" content="Ahoy! I'm Wylie Fisher, a dad, developer, and outdoor enthusiast." />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Wylie Fisher" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=open_in_new" />
<Favicon />