---
const { title } = Astro.props;
---
<nav>
  <a href="/" rel="noopener noreferrer" title={title}>Home</a>
  <a href="/projects/" rel="noopener noreferrer" title={title}>Projects</a>
  <a href="/blog/" rel="noopener noreferrer" title={title}>Blog</a>
</nav>

<style>
  nav {
    display: flex;
    gap: .5rem;
		border-bottom: 3px solid var(--border-color);
  }
  a {
    padding: .5rem;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) {
    div {
      margin-top: 0;
    }
  }
</style>