---
const { title } = Astro.props;
---

<div>
  <a href="/" rel="noopener noreferrer" title={title}>
    home
  </a>
  <a href="/blog/" rel="noopener noreferrer" title={title}>
    blog
  </a>
</div>

<style>
  div {
    display: flex;
    align-items: flex-end;
    gap: .5rem;
    margin-top: .75rem;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) {
    div {
      margin-top: 0;
    }
  }
</style>