---
import ProjectCard from './Project-card.astro';
import projects from '../assets/data/projects.js';
---
<section class="project-grid">
  {projects.map((data) => 
    <ProjectCard
      title={data.title}
      url={data.link}
      description={data.description}
      skills={data.skills}
    />
  )}
</section>

<style>
  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-areas:
      "title"
      "project"
      "project"
      "project"
      "project";
    ;
  }
  .project-grid h2 {
    grid-area: title;
  }
  @media (min-width: 600px) {
    .project-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "title title"
        "project project"
        "project project";
      ;
    }
  }
</style>