.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "title title"
    "project project"
    "project project";
  ;
}
.projects h2 {
  grid-area: title;
}
@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "project"
    "project"
    "project"
    "project";
  ;
  }
}
.projects .project {
  display: grid;
  padding: 1rem;
  border-radius: 10px;
  background: var(--background-contrast-color);
  transition: all .1s;
}
.dark .projects .project {
  background: var(--background-dark-contrast-color);
}
.projects a {
  text-decoration: none;
}
.projects h3 {
  border-bottom: 5px solid var(--background-color);
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  transition: all 1s;
  position: relative;
}
.projects a:hover h3 {
  text-decoration: underline;
}
.projects p {
  font-size: var(--fontSize-secondary);
}
