---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const projects = await getCollection('project');
	return projects.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'project'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout {...post.data}>
	<div id="project">
		<Content />
	</div>
</Layout>