---
import Layout from '../../layouts/Layout.astro';
import Project from '../../components/Project.astro';

import { getCollection } from "astro:content";

const posts = (await getCollection("project")).sort(
  (a, b) => a.data.order - b.data.order,
);
---
<Layout>
  <p>This is a collection of my recent work as well as personal projects. Not all of these are complete, but they do showcase skills in various languages and formats.  </p>
  <Project posts={posts} />
</Layout>