---
import Layout from '../../layouts/Layout.astro';
import DataGrid from '../../components/DataGrid.astro';

import { getCollection } from "astro:content";

const posts = (await getCollection("project")).sort(
  (a, b) => a.data.order - b.data.order,
);
---
<Layout>
  <h2>Work and Projects</h2>
  <p>A collection of my recent work and personal projects, showcasing skills across various technologies.</p>
  <DataGrid posts={posts} />
</Layout>