*{
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#root {
  display: grid;
}
.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--gap);
  width: 75%;
  max-width: 650px;
  justify-self: center;
  transition: width .2s;
}
@media (max-width: 600px) {
  .layout {
    width: 90%;
  }
}
/* HEADER */
header {
  width: 100%;
  border-bottom: 3px solid var(--border-color);
  padding-bottom: 1rem;
}
header h3 {
  display: flex;
  justify-content: space-between;
}
header button {
  display: flex;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
header .icon {
  filter: invert(23%) sepia(11%) saturate(749%) hue-rotate(145deg) brightness(92%) contrast(92%);
  height: 1.5rem;
}
.dark header .icon {
  filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
header .icon:hover {
  transform: scale(1.02);
}
header .icon:active {
  transform: scale(0.98);
}
/* CENTER */
main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
/* FOOTER */
footer {
  padding: var(--gap) 0;
  border-top: 3px solid var(--border-color);
}
footer p {
  font-size: var(--fontSize-secondary);
  font-style: italic;
}