---
import Meta from '../components/Meta.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, pubDate, heroImage } =
  Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<title>Wylie Fisher</title>
		<Meta />
	</head>
	<body>
		<div class="layout">
			<Header />
			{!title ? (
				<slot />
			) : (
				<article>
					{heroImage && (
						<div class="hero-image">
								<img src={heroImage} alt="" />
						</div>
					)}
					{title || pubDate ? (
						<header>
							{title && (
								<h2 class="title">
									{title}
								</h2>
							)}
							{pubDate && (
								<div class="date">
									{pubDate.toLocaleDateString("en-us", {
										year: "numeric",
										month: "short",
										day: "numeric",
									})}
								</div>
							)}
						</header>
					) : null}
					<div class="prose">
						<slot />
					</div>
				</article>
			)}
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--theme-color-1: #EED595;
		--theme-color-2: #F6B179;
		--theme-color-3: #264653;
		
		--background-color: var(--theme-color-1);
		--background-contrast-color: var(--theme-color-2);
		--border-color: var(--theme-color-2);
		--text-color: var(--theme-color-3);
		--text-color-link: var(--theme-color-3);
		--text-color-link-hover: var(--theme-color-3);
		--fill-color: var(--theme-color-3);
		
		--fontSize-h1: 3rem;
		--fontSize-h2: 1.75rem;
		--fontSize-h3: 1.25rem;
		--fontSize-primary: 1rem;
		--fontSize-secondary: .875rem;
		--fontSize-body: 1.25rem;
		--gap: 2rem;
	}
	* {
		box-sizing: border-box;
		font-size: 16px;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	body {
		display: grid;
		background-color: var(--theme-color-1);
		margin: 0;
		font-family: Helvetica, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: var(--text-color);
		font-size: var(--fontSize-primary);
	}
	h1, h2, h3, p {
		margin: 0;
	}
	h1 {
		font-size: var(--fontSize-h1);
		white-space: nowrap;
	}
	h2 {
		font-size: var(--fontSize-h2);
	}
	h3 {
		font-size: var(--fontSize-h3);
	}
	p,
	li,
	strong,
	em {
		font-size: var(--fontSize-body);
		line-height: 1.5;
	}
	h3 + ul,
	p + ul {
		margin-top: 1rem;
		margin-left: 1.5rem;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	a {
		color: var(--text-color-link);
		font-size: inherit;
	}
	a:hover {
		color: var(--text-color-link-hoverhover);
	}
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: auto;
	}

	/* BLOG POSTS */
	#blog-post h3 {
		border-bottom: 1px solid var(--border-color);
		margin-top: 1.5rem;
	}
	#blog-post p:not(:first-child) {
		margin-top: 1.5rem;
	}
	#blog-post .hero-image img {
		max-width: 650px;
	}
	#blog-post table {
		border: 1px solid black;
		padding: 0;
		border-collapse: collapse;
		margin-top: 1rem;
	}
	#blog-post td,
	#blog-post th {
		border: 1px solid black;
		padding: .25rem .75rem;
	}
	.hero-image img {
		width: 100%;
	}

</style>
<style>
	.layout {
		display: grid;
		grid-template-rows: auto 1fr auto;
		row-gap: var(--gap);
		width: 75%;
		max-width: 650px;
		justify-self: center;
		transition: width .2s;
	}
	@media (max-width: 600px) {
		.layout {
			width: 90%;
		}
	}
	article {
		border-bottom: 3px dashed var(--border-color);
    padding-bottom: 1rem;
	}
	header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 1rem;
		margin: 1rem 0;
		border-bottom: 3px dashed var(--border-color);
	}
	header .date {
		margin-top: .5rem;
		align-self: flex-end;
    justify-self: flex-end;
		white-space: nowrap;
	}
	@media screen and (min-width: 768px) {
		header {
			flex-direction: row;
		}
		header .date {
			margin-top: 0;
		}
	}
</style>
